<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testing" verbose="1"  group-by-instances="true" >
    <test name="test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Fees_New.RunnerFile"/>
        </classes>
    </test>
    <test name="test_firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="Fees_New.RunnerFile"/>
        </classes>
    </test>
</suite>