<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testing" verbose="1"  group-by-instances="true" parallel="tests" >
    <test name="test">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="http://qaerp.franciscanecare.net/Secure/default.aspx"/>
        <parameter name="username" value="admin"/>
        <parameter name="password" value="Admin#franciscan"/>
        <classes>
            <class name="Cucumber_Execution.RunnerFile"/>
        </classes>
    </test>

</suite>